/* -- Styling done here -- */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1d2630;
}

.circle-container {
  height: 100vh;
  width: 100vw;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  height: 200px;
  width:200px;
  background: yellow;
  border-radius:50%;
  background: linear-gradient(0deg, rgba(63,249,220,0.1) 33%, rgba(63,249,220,1) 100%);
  animation: spin .8s linear infinite;
  padding: 5px;
}

.circle-core {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background:#1d2630;
}